.top-div {
    height: 100%;
    width: 100%;
}

.App {
    text-align: center;
    width: 100%;

    vertical-align: top;
    display: inline-block;

    background-color: pink;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.App-left {
    /* width: 30%; */
    height: 100%;
    background-color: aqua;
    vertical-align: top;
    display: inline-block;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}

.App-link {
    color: #61dafb;
}
#container {
    height: 100%;
    width: 100%;
    display: flex;
}
#leftThing {
    width: 25%;
    background-color: blue;
}
#content {
    width: 100%;
    background-color: pink;
}
#rightThing {
    width: 5%;
    background-color: yellow;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.dateButton {
    width: 200px;
    height: 60px;
    color: pink;
    background-color: black;
}
.imageStyle {
    width: 90%;
    height: 90%;
}
.contentStyle {
    font-family:Arial, Helvetica, sans-serif;
    color:brown;
    font-size: large;
    padding-top: 10px;  
}
.contentBorder {

    margin: 10px;
    padding: 5px;
    border-width: 1.5px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-radius: 3%;
    border-color: gray;
    border-top-color: gray;
    border-left-color: gray;
    border-bottom-color: black;
    border-right-color: black;
    border-style: solid;
  
}

.myHeader {
    height: 60px;
    background-color : black;
    text-align: left;
    color: white;
    vertical-align: top;
    display:flex;
    width:100%;
    /* flex-direction: row;     */
}

.bodyRouter {
    text-align: center;
}

.leftIcon {
    background-color: red;
    
}

.titleText {
    position: absolute;
    width: 100%;
    align-content: center;
    text-align: center;

}

.dateSelectButton {
    background-color: black;
    color: white;
    width: 90%;
    height: 50px;
    font-size: large;
    margin: 10px;
}

.dateBound {
    position: relative;
    border: 1px dashed black;
    padding: 10px;
    align-content: center;
    width: 60%;
    margin: auto;
    border-radius:3%;
}

.homeBackground {
    min-height: calc(100vh - 60px);
}

.titleStyle {
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 15px;
}


.dimmed_layer_wrapper .full_layer {
    overflow:hidden;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:100;
    text-align:center;
    white-space:nowrap;
    font-size:0;
    display:inline-block;
    vertical-align:middle;

    background-color: black;
    width: 100%;
    height: 100vh;   
}
.common_alert{
    z-index:2;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    min-height: 200px;
    max-height:100%;
    min-width: 200px;

    text-align:left;
    margin:auto;
    box-sizing:border-box;
    font-size: 16px;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.popupImageStyle
{
    width: 100%;
    
    display: flex;
    align-items: center;
}

.popupAllPage {
    background-color: yellowgreen;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
}